* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 

 body {
	max-width: 1200px;
	margin: auto;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.backgrounds img {
	max-height: 715px;
    width: 100%;
    max-width: 1200px;
}

.h1 {
	display: inline-block;
	align-items:center;
}

.img img {
	height:533px; 
	width:1050px;
}

.img1 {
	width: 50%;
	display: inline-block;
	float: left;
}

.img1 + .img1 {
padding: 0 10px;	
}

.clearfix {
	clear: both;
}

.img2 img{
	height:550px;
	width:600px;
}

.img5 img {
max-width: 100%;
margin: auto;
}

.img1 img{
	width: 100%;
	height: 580px;
}

.img3 {
	width: 50%;
	display: inline-block;
	float: left;
}

.img3 img{
	width: 100%; 
}

.img3 + .img3 {
	padding: 0 10px;
}

.img7 img{
	width: 950px;
}

.img2, .text2{
	display: inline-block;
}

.img4 img {
	margin: auto;
	display: block;
	padding: 10px;
}

.img4 {
	display: inline-block;
	float: left;
}

.img4 img {
	width: 100%;	
}

.columns {
	column-count: 4;
	column-gap: 5px;
}

.img4 + .img4 {
	padding: 0 10px;
}

.logo {
	display: inline-block;
}

.logo img {
	height: 148px;
	width: 163px;
	display: inline-block;
}

.nav-link:first-child {
	margin-left: 48px;
}

.nav-link:first-child, .nav-link + .nav-link {
	margin: 48px;
	align-items: center;
	text-shadow: 2px 2px 3px black;
	text-decoration: none;
	color: black;
	border:2px solid transparent;
	padding: 8px;
	max-width: 25%;
	display: flex;
	font-size: 24px;
}

.nav-link2 {
	margin: 48px;
	align-items: center;
	text-decoration: none;
	color: black;
}

.nav-link:hover {
	border-radius: 5px;
	border:2px solid pink;
}

.text2 {
	font-size: 75px;
	text-align: left;
}

.topnav {
	display: inline-flex;
	align-items: center;
}


header {
	background-color: #FFEEEE;
}

.columns:hover img:not(:hover){
	opacity: 0.4;
	transition:3s;
}

.columns img {
	transition:3s;
}

.img9 img {
	margin: auto;
	display: block;
	padding: 10px;
}

.img9 {
	display: inline-block;
	float: left;
	max-width: 100%;

}

.img9 img {
	width: 100%;
}


.img9 + .img9 {
	padding: 0 10px;
}


.columns2 {
	column-count: 4;
	column-gap: 5px;
}


.text6 {
	color: red;
	align-items: center;
	text-align: center;
	margin-top: 10px;
}

.button {
	text-align: center;
}

 footer {
 	margin-top: 20px;
 	background-color: red;
 	padding: 10px;
 }

 footer a {
 	height: 20px;
 	color:white;
 	font-weight: bold;
 	width: auto;
 }
 .footer {
 	display: flex;
 	justify-content: space-between;
 	max-width: 1000px;
 	margin: auto;
 }

 .text9 {
 	color: white;
 }

 .search-form {
 	width: 27%;
 	background-color: #000000;
 	margin-bottom: 11px;
 	display: flex;
 }

 .search-submit {
 	background-image: url('img/search1.png');
 	width:24px;
 	height: 24px;
 	background-size: contain;
 	background-color: transparent;
 	border: none;
 	outline: none;
 	padding: 12px;
 }

main {
	text-align: center;
}

.mobile-nav {
	display: none;
}